
#boton1{
    background-color: var(--color-primary);
}
#boton2{
    background-color: var(--color-secondary);
}
#boton3{
    background-color: var(--color-accent);
}
#boton4{
    background-color: var(--color-background);
}