/*IMAGENES*/
.equis{
    background-image: URL(imagenes/x.png);
    background-size: 2vh;
    background-repeat:no-repeat;
    background-position: center;
}
.mas{
    background-image: URL(imagenes/mas.png);
    background-size: 2vh;
    background-repeat:no-repeat;
    background-position: center;
}
.lupa{
    background-image: URL(imagenes/lupa.png);
    background-size: 2vh;
    background-repeat:no-repeat;
    background-position: center;
}
.imagen{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagen_herramienta {
    width: 80%;
}
.imagen .divinput{
    width: auto;
    height: auto;
}
.imagen svg{
    width: auto;
   height: 100%;
  
}

.d svg{
    position: absolute;
    top: 0%;
    right: 0%;
 
}
.i, .d{
    display: block;
    align-items: none;
    justify-content: none;
}
.i svg{
    
    position: absolute;
    top: 0%;
    left: 0%;

}

.botonimagen{
    background-size: contain;
    background-repeat:no-repeat;
    background-position: left;
    padding-left: 2vh;
}
@media (max-width: 1300px) {
    #footer .i svg{
        width: 100%;
    }
}